.text-button {
  color: $TextButtonColor;
  font-size: 14px;
  font-weight: normal;
}

.primary-button {
  color: $white;
  font-size: 14px;
  font-weight: normal;
  background: $BlackHIllsPrimary;

  &.mat-raised-button {
    //transform: skew(-20deg);
    padding: 0 30px;
    line-height: 38px;
  }
}
