html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.right {
  text-align: right !important;
}

.section {
  padding: 25px;
}

.section__heading {
  font-size: 20px;
  font-family: $AcuminProBold;
  text-align: left;
}
