html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.right {
  text-align: right !important;
}

.section {
  padding: 25px;
}

.section__heading {
  font-size: 24px;
  font-family: $AcuminProLight;
  color: $fontGray;
  padding-bottom: 10px;
  padding-left: 5px;
}

@media (min-width: $screen-sm) {
  .section {
    max-width: calc(100% - 320px);
    padding: 25px 50px;
    margin-left: 320px;

    &.no--menu {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}
