//header styles
.header-container {
    &.header-container__main.mat-toolbar.mat-primary {
      height: 65px;
      background: url('../images/BHBlackHeader.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &.mat-toolbar.mat-primary {
      background-color: $BlackHIllsPrimary;
    }

    .header--menu__icon {
      width: 24px;
      height: 24px;
      line-height: 24px;
      margin-right: 20px;
    }

    .header--menu__title {
      text-align: center;
      line-height: 65px;
      vertical-align: middle;
      margin-left: 35px;
      font-weight: normal;
  }

  &.header-container__secondary.mat-toolbar {
    height: 65px;
    padding: 0 15px;

    .header--menu__title {
      margin-left: 0;
      font-size: 20px;
      font-family: $AcuminProBold;
      text-transform: uppercase;
    }
  }
}
