.tab__title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.mat-tab-labels {
  justify-content: center;

  .mat-tab-label {
    padding: 0;
  }

  .mat-tab-label-active {
    opacity: 1;
  }
}

.mat-tab-header {
  border-bottom: 0;
}

.mat-tab-body {
  margin: 20px 0;
}
