//colors
$BlackHIllsPrimary: #F58025;
$BlackHillsGray: #77787B;
$white: #fff;
$black: #000;
$linkColor: #006E9C;
$blackText: #1f1f1f;
$BlackHillsOrange: #ef3a24;

//grays
$lightGray: #2e2d2d;
$lighterGray: #636363;
$fontGray: #363636;
$lightFontGray: #77787b;
$borderGray: rgba(119,120,123, 0.3);

//Buttons
$TextButtonColor: $BlackHillsGray;

//grid
$screen-sm: 960px;
