//colors
$BlackHIllsPrimary: #F58025;
$BlackHillsGray: #77787B;
$white: #fff;
$linkColor: #006E9C;


//grays
$lightGray: #2e2d2d;
$borderGray: rgba(119,120,123, 0.3);

//Buttons
$TextButtonColor: $BlackHillsGray;
