<section class="section account-selector" [class.no--menu]="!accountPremise">
  <mat-spinner diameter="30" *ngIf="(accountPremiseInfoMap.size == 0) && (accountInfoMap.size == 0)">
  </mat-spinner>
  <ng-container *ngIf="(accountPremiseInfoMap.size > 0) && (accountInfoMap.size > 0)">
    <div class="container-sm">
      <div class="account-selector-flex">
        <div class="section__heading">
          Your Accounts
        </div>
        <ng-container *ngIf="(user.cisAccountNumbers.length) >= 3">
          <div class="section__search">
            <form class="search-form">
              <mat-form-field>
                <input type="text" #searchInput (keyup)="keyUp(searchInput.value)" placeholder="Search Accounts" aria-label="Number" matInput [formControl]="searchControl">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </form>
          </div>
        </ng-container>
        <div class="section__results--action">
          <a href="#">NEW</a>
        </div>
      </div>

      <div class="section__results">
        <!-- <div class="section__results--title">
          Accounts
        </div> -->
        <div class="section__results--count">
          {{user.cisAccountNumbers.length}} result(s) found
        </div>

        <div *ngIf="(accountPremiseInfoMap.size > 0) && (accountInfoMap.size > 0)">
          <div class="section__results--item" *ngFor="let accountId of getKeys(filteredPremiseInfoMap)">
            <a (click)="accountSelected(accountId)" class="account-info">
              <div class="account-info--details">
                <div class="account-info__number">
                  {{ accountId }}
                </div>
                <div class="account-info__address">
                  <ng-container *ngIf="(accountPremiseInfoMap.get(accountId).premiseInfo.length) >= 2; else singleAddressTemplate">
                    {{ accountPremiseInfoMap.get(accountId).premiseInfo.length }} service addresses
                  </ng-container>
                  <ng-template #singleAddressTemplate>
                    <span *ngFor="let address of accountPremiseInfoMap.get(accountId).premiseInfo">
                    {{ address.address2 }} <br />
                    {{ address.address3 }}
                    </span>
                  </ng-template>
                </div>
              </div>
              <div class="account-info--balance {{addPastDueClass | PastDueDate: accountInfoMap.get(accountId).daysTillDue}}">
                <div class="account-info__amount">
                  ${{ accountInfoMap.get(accountId).totalAmtDue }}
                </div>
                <div class="account-info__due">
                  {{ accountInfoMap.get(accountId).daysTillDue | DueDate }}
                </div>
              </div>
            </a>
          </div>
          <!-- <div class="section__results--item">
          <a href="#" class="account-info">
            <div class="account-info--details">
              <div class="account-info__address">
                <span *ngIf="(accountPremiseInfoMap.get(accountId).premiseInfo.length) >= 2; else testtemplate">
                  {{ accountPremiseInfoMap.get(accountId).premiseInfo.length }} service addresses
                </span>
                <ng-template #testtemplate>
                  <span *ngFor="let address of accountPremiseInfoMap.get(accountId).premiseInfo">
                  {{ address.address2 }}
                  </span>
                </ng-template>
              </div>
            </div>
            <div class="account-info--balance">
              <div class="account-info__amount">
                $73.26
              </div>
              <div class="account-info__due">
                Due by: <span class="account-info__duedate">11/23/18</span>
              </div>
            </div>
          </a>
        </div> -->

          <!-- <div class="section__results--item">
          <a href="#" class="account-info">
            <div class="account-info--details">
              <div class="account-info__address">
                1105 Central Parkway
              </div>
              <div class="account-info__number">
                21353467-2345
              </div>
            </div>
            <div class="account-info--balance">
              <div class="account-info__amount">
                $44.26
              </div>
              <div class="account-info__due">
                Due by: <span class="account-info__duedate">11/23/18</span>
              </div>
            </div>
          </a>
        </div> -->

          <!-- <div class="section__results--item">
          <a href="#" class="account-info">
            <div class="account-info--details">
              <div class="account-info__address">
                1065 Sherman Lane
              </div>
              <div class="account-info__number">
                21353467-2345
              </div>
            </div>
            <div class="account-info--balance">
              <div class="account-info__amount">
                $0
              </div>
              <div class="account-info__due">
              Due by: <span class="account-info__duedate">11/23/18</span>
            </div>
            </div>
          </a>
        </div> -->
        </div>
      </div>

    </div>
  </ng-container>
</section>