<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"> -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) ? 'false' : 'true'">
    <mat-toolbar color="primary"></mat-toolbar>
    <mat-card *ngIf="userDetails" class="user__details">
      <b class="user__details--name">{{userDetails.name}}</b>
      <div class="user__details--address">
        <div class="address--line1">{{userDetails.address}}</div>
        <div class="address--line2">{{ userDetails.city }} {{ userDetails.state }} {{ userDetails.zipCode }}</div>
      </div>
      <div class="user__details--change">
        <a class="tab address-changelink" href="#">Change</a>
      </div>
    </mat-card>
    <mat-nav-list class="main-nav--items">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" (click)="(isHandset$) ? 'drawer.toggle()' : 'drawer.open()'">Dashboard</a>
      <a mat-list-item routerLink="/account-selector" routerLinkActive="active-link" (click)="(isHandset$) ? 'drawer.toggle()' : 'drawer.open()'">Account Selector</a>
      <a mat-list-item routerLink="/billing" routerLinkActive="active-link" (click)="(isHandset$) ? 'drawer.toggle()' : 'drawer.open()'">Billing</a>
      <a mat-list-item routerLink="/usage" routerLinkActive="active-link" (click)="(isHandset$) ? 'drawer.toggle()' : 'drawer.open()'">Usage</a>
      <a mat-list-item routerLink="/profile" routerLinkActive="active-link" (click)="(isHandset$) ? 'drawer.toggle()' : 'drawer.open()'">Profile</a>
      <a mat-list-item routerLink="/customer-service" routerLinkActive="active-link" (click)="(isHandset$) ? 'drawer.toggle()' : 'drawer.open()'">Customer Service</a>
    </mat-nav-list>
    <mat-nav-list class="additional-nav--items">
      <a mat-list-item>Outages</a>
      <a mat-list-item>Customer Service</a>
      <a mat-list-item>Add Service</a>
    </mat-nav-list>
    <button mat-raised-button class="secondary-button sign-out-button">SIGN OUT</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- show this component by default -->
    <mat-toolbar *ngIf="!nav.visible" color="primary" class="header-container header-container__main">
      <!-- <button type="button" class="header--menu__icon" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async"> -->
      <button type="button" class="header--menu__icon" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- show this component by default -->

    <!-- show this component when the user opens a new task page -->
    <mat-toolbar *ngIf="nav.visible" color="primary" class="header-container header-container__secondary">
      <!-- <button type="button" class="header--menu__icon" aria-label="Close Icon" mat-icon-button *ngIf="isHandset$ | async">
        <mat-icon aria-label="close icon">close</mat-icon>
      </button> -->
      <div class="header--menu__title">YOUR ACCOUNTS</div>
    </mat-toolbar>
    <!-- show this component when the user opens a new page-->


  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
<!-- Add Content Here -->