<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-card *ngIf="userDetails">
      <b>{{userDetails.name}}</b>
      <div class="small-text">
        406 Olmos Dr <a class="tab" href="#">Change</a><br> Leander TX 78641</div>
    </mat-card>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
      <a mat-list-item routerLink="/billing" routerLinkActive="active-link">Billing</a>
      <a mat-list-item routerLink="/usage" routerLinkActive="active-link">Usage</a>
      <a mat-list-item routerLink="/profile" routerLinkActive="active-link">Profile</a>
      <a mat-list-item routerLink="/customer-service" routerLinkActive="active-link">Customer Service</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header-container">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <span>Blackhills Energy</span> -->
    </mat-toolbar>

    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
