<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"> -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false">
    <mat-toolbar color="primary"></mat-toolbar>
    <mat-card *ngIf="userDetails" class="user__details">
      <b class="user__details--name">{{userDetails.name}}</b>
      <div class="user__details--address">
        <div class="address--line1">{{userDetails.address}}</div>
        <div class="address--line2">{{ userDetails.city }} {{ userDetails.state }} {{ userDetails.zipCode }}</div>
      </div>
      <div class="user__details--change">
        <a class="tab address-changelink" href="#">Change</a>
      </div>
    </mat-card>
    <mat-nav-list class="main-nav--items">
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" (click)="drawer.toggle()">Dashboard</a>
      <a mat-list-item routerLink="/billing" routerLinkActive="active-link">Billing</a>
      <a mat-list-item routerLink="/usage" routerLinkActive="active-link">Usage</a>
      <a mat-list-item routerLink="/profile" routerLinkActive="active-link">Profile</a>
      <a mat-list-item routerLink="/customer-service" routerLinkActive="active-link">Customer Service</a>
    </mat-nav-list>
    <mat-nav-list class="additional-nav--items">
      <a mat-list-item>Outages</a>
      <a mat-list-item>Customer Service</a>
      <a mat-list-item>Add Service</a>
    </mat-nav-list>
    <button mat-raised-button class="secondary-button sign-out-button">SIGN OUT</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- show this component by default -->
    <mat-toolbar color="primary" class="header-container header-container__main">
      <!-- <button type="button" class="header--menu__icon" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async"> -->
      <button type="button" class="header--menu__icon" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <!-- show this component by default -->

    <!-- show this component when the user opens a new page -->
    <!-- <mat-toolbar *ngIf="isSubPage" color="primary" class="header-container">
      <button type="button" class="header--menu__icon" aria-label="Close Icon" mat-icon-button *ngIf="isHandset$ | async">
        <mat-icon aria-label="close icon">close</mat-icon>
      </button>
      <div class="header--menu__title">Page Title</div>
    </mat-toolbar> -->
    <!-- show this component when the user opens a new page -->

    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>